body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Background set to white */
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background: url('https://marketplace.canva.com/EAFmahf0Yqs/1/0/1600w/canva-pink-minimalist-watercolor-background-linkedin-banner-UubSLOW3Y3M.jpg');
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 40px; /* Increased padding for a larger header */
    text-align: center;
    font-size: 2em; /* Larger font size for header text */
}
footer {
    background: url('https://marketplace.canva.com/EAFmahf0Yqs/1/0/1600w/canva-pink-minimalist-watercolor-background-linkedin-banner-UubSLOW3Y3M.jpg');
    background-size: cover;
    color: white;
    padding: 20px; /* Reduced padding for a smaller footer */
    text-align: center;
    font-size: 1em; /* Standard font size for footer text */
}
.gradient-text {
    font-weight: bold; 
    background: linear-gradient(90deg, #8c64d0, #bb6eda, #ebc0fc);
    -webkit-background-clip: text; /* WebKit browsers (Chrome, Safari) */
    -webkit-text-fill-color: transparent; /* WebKit browsers */
    background-clip: text; /* Other browsers */
    color: transparent; /* Fallback color */    
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.image {
    border-radius: 10px;
    margin: auto; /* Space between image and text */
    width: 900px;
    height: auto;
}
.summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto; /* Centering the summary wrapper */
}
.summary-image {
    border-radius: 10px;
    margin: auto 20px; /* Space between image and text */
    height: 400px;
}
.summary-container {
    background-color: #ebc0fc; /* Purple background */
    color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin: 40px auto; /* Centering the summary */
    max-width: 800px; /* Adjust max-width as needed */
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: url('https://marketplace.canva.com/EAFmahf0Yqs/1/0/1600w/canva-pink-minimalist-watercolor-background-linkedin-banner-UubSLOW3Y3M.jpg');
    background-size: cover;
}
.contact-info {
    text-align: left; 
    color:#333 ;
}
.social-icons {
    text-align: right;
}
.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}
.social-icons img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}
.projects-section {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Space above and below the section */
}
.projects-image {
    width: 450px; 
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Space between image and text */
    border-radius: 10px; /* Optional, for rounded corners */
}
.projects-section h2 {
    margin: 0; /* Remove default margin */
}
.button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allows buttons to wrap onto the next line if there's not enough space */
    justify-content: center; /* Centers buttons horizontally */
    gap: 10px; /* Adds space between buttons */
}
.button {
    background-color: #ebc0fc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
    max-width: 100%; /* Ensures buttons do not exceed container width */
}
.button:hover {
    background-color: #8c64d0;
    color: white;
}
.link-preview {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.link-preview img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.link-preview .content {
    flex: 1;
}
.link-preview .title {
    font-size: 16px;
    font-weight: bold;
}
.link-preview .description {
    font-size: 14px;
}
.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.frame {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border: 2px solid #333;
    background-color: #fff;
}
.frame img {
    width: 100%;
    height: auto;
}
.pdf-container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    header, footer {
        padding: 20px; /* Adjust padding for smaller screens */
    }
    .summary-wrapper {
        flex-direction: column; /* Stack image and text vertically on small screens */
        align-items: center; /* Center content */
    }
    .summary-image {
        max-width: 300px;
        height: auto;
        margin-right: 0; /* Remove margin for stacked layout */
        margin-bottom: 20px; /* Add space below image */
    }
    .image {
        max-width: 350px;
        height: auto;
        margin-bottom: 20px; /* Add space below image */
    }
    .projects-section {
        flex-direction: column; /* Stack image and text vertically on small screens */
        align-items: center; /* Center content */
    }
    .projects-image {
        margin-right: 0; /* Remove margin for stacked layout */
        margin-bottom: 20px; /* Add space below image */
    }
    .stats-container {
        margin-right: 0; /* Remove margin for stacked layout */
        margin-bottom: 20px; /* Add space below image */
    }
}